.wrapper {
  min-width: 200px;
  margin-top: 30px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.titleInner {
  display: flex;
  justify-content: space-between;
}

.title {
  align-self: flex-start;
  font-size: 1.5rem;
}

.time {
  font-size: 2rem;
  font-weight: 600;
}

.cansel {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;

  border: 1px solid #000;
  border-radius: 50%;

  cursor: pointer;
}
